.footer-div{
    padding: 0px 10%;
    color: white;
}
.footer-div p,h3,div{
  color: #3e6f7e;
}
ul{
    list-style-type:circle;
}
.footer-timing-line{
	font-size: 16px;
	width: 320px;
    padding-left: 20px;
  }

  .footer-timing-line tr :not(:first-child){
	text-align: center;
  }

  .footer-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    padding: 10px 0px;
  }
  td{
    font-size: larger;
  }


  .footer-logo img{
	object-fit: cover;
	width: 100%;
	height: 100%;
  }

  .footer-logo{
	width: 180px;
	height: 100px;
  }
  .footer-upper{
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .footer-social{
    display: flex;
    gap: 20px;
  }
  .footer-logo-social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-lower{
    border-top: 1px solid grey;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
  }
  .footer-grid div li p{
    line-height: 1.2;
  }
  .footer-grid div li{
    height: 10px;
  }

  @media (max-width:768px){
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
    
      }
}
@media (max-width:425px){
    .footer-grid{
        grid-template-columns: repeat(1,1fr);
    
      }
      .footer-upper{
        flex-direction: column;
        align-items: start;
        gap: 50px;
      }
}