.service-div{
    padding: 50px 10%;
    text-align: center;
    background-color: transparent
}
.service-div > p{
    color: #3e6f7e;
    font-weight: bold;
    margin-bottom: 50px;
}
.service-div > h1{
    color: #3e6f7e;
}
.service-box{
    /* border: 2px dashed #3e6f7e; */
    padding: 10px;
    text-align: justify;
    gap: 10px;
    background-color: transparent;
}
.service-box-div{
    position: relative;
    background-color: transparent;
}
.service-box-div::before{
	position: absolute;
	content: '';
	top: 0px;
    right: 0px;
	width: 75px;
	height: 75px;
    z-index: -1;
	border-radius: 150px;
	background: #FFE6AF;
	background: linear-gradient(to right, #FFE6AF 0%, #ebb542 100%);
}
.service-box:hover{
    cursor: pointer;
}
.service-box:hover .service-box-div{
    animation: hello 0.5s;
}

@keyframes hello{
    0%{
        top: 0px;
    }
    20%{
        top: -20px;
    }
    40%{
        top: 0px;
    }
    60%{
        top: -15px;
    }
    100%{
        top: 0px;
    }
}
.service-box h3{
    color: #060606;
    font-size: 24px;
}
.service-box:hover h3{
    color: #ea8323;
}
.service-box p{
    color: grey;
}
.service-out-box{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 35px;
}
.div1{
grid-column-start: 1;
grid-column-end: 3;
}
.div2{
    grid-column-start: 3;
    grid-column-end: 5;
}
.div3{
    grid-column-start: 5;
    grid-column-end: 7;
}
.div4{
    grid-column-start: 2;
    grid-column-end: 4;
}
.div5{
    grid-column-start: 4;
    grid-column-end: 6;
}
.btn-div{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}
@media (max-width:1024px){
    .service-out-box{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 35px;
    }
    .div1{
        grid-column-start: 1;
        grid-column-end: 4;
        }
        .div2{
            grid-column-start: 4;
            grid-column-end: 7;
        }
        .div3{
            grid-column-start: 1;
            grid-column-end: 4;
        }
        .div4{
            grid-column-start: 4;
            grid-column-end: 7;
        }
        .div5{
            grid-column-start: 3;
            grid-column-end: 5;
        }
}
@media (max-width:768px){
    .service-out-box{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 10px;
    }
    .div1{
        grid-column-start: 1;
        grid-column-end: 7;
        }
        .div2{
            grid-column-start: 1;
            grid-column-end: 7;
        }
        .div3{
            grid-column-start: 1;
            grid-column-end: 7;
        }
        .div4{
            grid-column-start: 1;
            grid-column-end: 7;
        }
        .div5{
            grid-column-start: 1;
            grid-column-end: 7;
        }
}